/*
 * @Descripttion: 主题色
 * @Author: JayShen
 * @Date: 2021-11-10 10:57:18
 * @LastEditors: JayShen
 * @LastEditTime: 2022-06-20 20:08:56
 */

.colors-light {
  //品牌色
  --color-text-brand: #ff6a00;
  --color-bg-brand: #e6f7ff;
  //功能色
  --color-text-inverse: #f6f7f9;
  --color-bg-inverse: #23272f;
  --color-text-button: #fff;
  --color-bg-button: #087ea4;
  //中性色
  --color-text-primary: #23272f;
  --color-text-secondary: #404756;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f6f7f9;
  --color-border-primary: #ebecf0;
}

.colors-dark {
  //品牌色
  --color-text-brand: #149eca;
  --color-bg-brand: rgba(88, 175, 223, 0.1);
  //功能色
  --color-text-inverse: #f6f7f9;
  --color-bg-inverse: #23272f;
  --color-text-button: #fff;
  --color-bg-button: #087ea4;
  //中性色
  --color-text-primary: #f6f7f9;
  --color-text-secondary: #ebecf0;
  --color-bg-primary: rgba(35, 39, 47, 1);
  --color-bg-secondary: #343a46;
  --color-border-primary: #343a46;
}

:root,
[data-color-mode="light"] {
  .colors-light()
}

[data-color-mode="dark"] {
  .colors-dark()
}
