/*
 * @Descripttion: 全局样式（仅组长可改）
 * @Author: JayShen
 * @Date: 2021-10-30 11:22:40
 * @LastEditors: JayShen
 * @LastEditTime: 2021-11-06 01:38:17
 */
@primary-color: red; // 全局主色

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  /* color: @text-color; */
  /* font-size: 28px; */
  background: #e2edff;
}

#root {
  padding: 10px;
  &::before {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 10;
    display: block;
    width: 100vw;
    height: 10px;
    background: #e2edff;
    content: '';
  }
}

fieldset,
img {
  border: 0 none;
}

address,
caption,
em,
strong,
th,
i {
  font-weight: 400;
  font-style: normal;
}

ol,
ul {
  list-style-position: outside;
  list-style-type: none;
}

// 清除浮动
.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '';
}
