/*
 * @Descripttion: 全局样式（仅组长可改）
 * @Author: JayShen
 * @Date: 2021-10-30 11:22:40
 * @LastEditors: JayShen
 * @LastEditTime: 2022-06-30 18:00:59
 */
@import '~antd/dist/antd.variable.min.css';
@import './styles/antd.less';
@import './styles/variables.less';

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-family: PingFangSC, Microsoft Yahei, Songti;
  color: #333;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  /* font-size: 28px; */
  background: #e2edff;
}

#root {}

fieldset,
img {
  border: 0 none;
}

address,
caption,
em,
strong,
th,
i {
  font-weight: 400;
  font-style: normal;
}

ol,
ul {
  list-style-position: outside;
  list-style-type: none;
}

// 清除浮动
.clearfix::after {
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '';
}

// .ant-btn-primary {
//   background: var(--color-text-brand);

//   &:hover {
//     background: var(--color-text-brand);
//   }
// }
